
	#viewerControls
	{
		border: 5px ridge blue;
		float: right;
		height: 300px;
		width:  500px;
		background: lightBlue;
		margin-right: 30px;
		margin-top: 20px;
	}
	#viewerControls > div:nth-child(1) 
	{
		margin-left: 40px;
		margin-top: 20px;
	}
	#viewerControls > div:nth-child(1) > div
	{
		height: 40px;
	}
	#viewerControls > div:nth-child(1) > div > div
	{
		width: 180px;
		float: left;
	}
	#viewerControls > div:nth-child(1) > div > div:nth-child(2)
	{
		margin-left: 40px;
	}
	#viewerControls > div:nth-child(2)
	{
		border: 1px solid black;
		padding: 10px;
		border-radius: 10px;
		box-shadow: 1px 1px 1px 1px;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	#viewerControls > div:nth-child(2) > div
	{
		height: 35px;
	}
	#viewerControls > div:nth-child(2) > div:nth-child(1)
	{
		margin-top: 15px;
	}
	#viewerControls > div:nth-child(2) > div > div
	{
		float: left;
	}
	#viewerControls > div:nth-child(2) > div > div:nth-child(1)
	{
		width: 60px;
		margin-left: 20px;
	}
	#viewerControls > div:nth-child(2) > div > div:nth-child(2)
	{
		width: 40px;
		text-align: right;
	}
	#viewerControls > div:nth-child(2) > div > div:nth-child(3)
	{
		width: 60px;
		margin-left: 50px;
	}
	#viewerControls > div:nth-child(2) > div > div:nth-child(4)
	{
		width: 40px;
		text-align: right;
	}
